/* ============================================================================================================ */
/* ---------------------------------------------Calendar Cards------------------------------------------------- */
/* ============================================================================================================ */

#EventCards {
  align-content: center;
  min-height: 175px;
  overflow-y: hidden;
  display: flex;
  margin: auto;
  overflow: hidden;
}

.eventWrapper {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: #f7f7f7;
  color: #06214c;
  overflow: hidden;
  display: inline;
  max-width: 300px;
  max-height: 150px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-family: 'Opens Sans', 'Roboto', Helvetica, Arial, sans-serif;
  transition: box-shadow 300ms ease-in;
  box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2);
}
.card:hover {
  box-shadow: 20px 20px 16px 0 rgba(0, 0, 0, 0.2);
}
.text--container {
  line-height: 150px;
  padding: 20px;
  padding-top: 10px;
}
.text--title {
  font-size: 1.15em;
  margin-bottom: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.text--title:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #9d9d9d;
  margin: 20px 0;
}
.text--description {
  line-height: 1.5em;
}
